-unless current_user.is_a? GuestUser
  =form_for @comment, url: '#' do |f|
    .form-group
    =f.text_area :content, placeholder: 'Add your comment', class: 'form-control'
    =f.submit 'Add', class: 'btn btn-primary'
