
= form_for(portfolio_item) do |f|
  .row
    .col-md-6
      .form-group
        =f.label :title
        =f.text_field :title, class: 'form-control'
      .form-group
        =f.label :subtitle
        =f.text_field :subtitle, class: 'form-control'
      .form-group
        %label.btn.btn-primary.btn-block
          Upload your main image:
          =f.file_field :main_image, style: 'display:none;'
      .form-group
        %label.btn.btn-primary.btn-block
          Upload your thumb image:
          =f.file_field :thumb_image, style: 'display:none;'
    .col-md-6
      .form-group
        =f.label :body
        =f.text_area :body, class: 'form-control', rows: 13
    .col-md-12
      %hr
      %h2 Technologies used
      %div
        =f.fields_for :technologies do |technology_form|
          =render 'technology_fields', f: technology_form
      %div
        =link_to_add_association 'Add technology', f, :technologies, class: 'btn btn-outline-primary btn-sm'
      .form-group
        =f.submit class: 'btn btn-primary btn-block'
