%h1 Portfolio Items:

-@portfolio_items.each do |portfolio_item|
  %p
    =portfolio_item.title
  %p
    =portfolio_item.subtitle
  %p
    =portfolio_item.body
  %img(src="#{portfolio_item.thumb_image}")
  %hr
