.album.text-muted
  .container
    %h1 Portfolio Items:
    =link_to "Create new portfolio item", new_portfolio_path if logged_in?(:site_admin)
    .row.sortable
      = render partial: 'portfolio_item', collection: @portfolio_items
