%h1 Create a new portfolio item:
= form_for(@portfolio_item) do |f|
  .field
    =f.label :title
    =f.text_field :title
  .field
    =f.label :subtitle
    =f.text_field :subtitle
  .field
    =f.label :body
    =f.text_area :body
  .actions
    =f.submit
