.container.portfolio-container
  .row
    .col-md-8
      =image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%'
    .col-md-4
      %h2
        =@portfolio_item.title
      %h4
        %em
          =@portfolio_item.subtitle
      %p
        =@portfolio_item.body
      %h2 Technologies used:
      -@portfolio_item.technologies.each do |technology|
        %p
          =technology.name
