<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <% if params[:controller] == 'portfolios' && params[:action] == 'show' %>
        <%= link_to "View all portfolio items", portfolios_path %>

      <% end %>
      <a href="#">Back to top</a>
    </p>
    <p>This is <%= mail_to 'wbwinnicki@gmail.com', "Wojciech Winnicki",subject: 'Portfolio' %> portfolio page </p>
    <p><%=copyright("Wojciech Winnicki", "All rights reserved") %></p>
  </div>
</footer>
