%h1 About me
%hr

.row
  .col-md-4
    = image_tag "Winnicki_02.jpg", class: 'img-fluid rounded', alt: 'towarzysz Jan Winnicki'
  .col-md-8
    %p
      =Faker::Lorem.paragraph(10)
    %p
      =Faker::Lorem.paragraph(10)
