%h1  If you like to work with me:
%hr
.row
  .col-md-6
    %h3 Phone:
    %p
      =number_to_phone "618518874"
    %h3
      Email
    %p
      %a{href: "mailto:wbwinnicki@gmail.com?subject=PropozycjaWspółpracy"}
        my email
    %h3 Adress:
    %p Ząbkowice śląske
  .col-md-6
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.125255584869!2d16.807843114926637!3d50.58762518535347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470e24d7dd663351%3A0x827b785d5540ecf6!2zQXJtaWkgS3Jham93ZWogMTMsIFrEhWJrb3dpY2UgxZpsxIVza2ll!5e0!3m2!1spl!2spl!4v1515878216663" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
