%div{class:"inner cover"}
  %h1{class:"cover-heading"}
    Hell-o
  %p{class:"lead"}
    Software development should not be a secret process, when I take on a new project I make it my
    goal to not only deliver a well craafted product but to also ensure that each
    stage of the process is fully communicated.
  %p.lead
    =link_to "Learn more", about_me_path, class:"btn btn-lg btn-secondary"
