.blog-post
  %h2{class:'blog-post-title'}
    =link_to post.title, post
  %p.blog-post-meta
    Published:
    = distance_of_time_in_words(post.created_at, Time.now)
    ago
  =render partial: 'admin_actions', locals: {post: post}
  %p
    = post.body
