.col-sm-8.blog-main
  %h2
    =@post.title
  %p
    =@post.topic.title
  %p
    = link_to 'Edit', edit_post_path(@post) if logged_in?(:site_admin)
  %p
    = markdown @post.body
  %hr

  =render 'comments/comment_form'
  %div{id: "comments", 'data-post-id':"#{@post.id}"}
    =render @comments
