.col-sm-8.blog-main
  %h2
    =@post.title
  %p
    = link_to 'Edit', edit_post_path(@post) if logged_in?(:site_admin)
  %p
    =@post.body
  %hr

  -unless current_user.is_a? GuestUser
    =form_for @comment, url: '#' do |f|
      .form-group
      =f.text_area :content, placeholder: 'Add your comment', class: 'form-control'
      =f.submit 'Add', class: 'btn btn-primary'

  =render @comments
